*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-areas:
     'h h h'
     'nav c c';
    grid-template-columns: 250px 1fr 1fr;
    grid-template-rows: 60px 1fr;
    align-content: center;
}

.content {
    grid-area: c;
    min-height: 100%;
}

.navbar-wrapper {
    grid-area: h;
    height: 60px;
    background-color: black;
}

.navigation {
    grid-area: nav;
    background-color: black;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
